@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald&display=swap');




body {
  font-family: Lato;
  color: #777777;
}
<!--Navbar-->
.navbar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


#navbarNavDropdown {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 25px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

<!--HeroImage-->

<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="hero.jpg" />
        </div>
    </div>
</div>



#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
    
    from{
      transform: scale(1);
    }

    to{
      transform: scale(1.1);

    }
}

#cover-text, #cover-text h2 {
  color: #ffffff
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  letter-spacing: 4px;
  text-transform: uppercase;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(10, 168, 241, 0.7);

  bottom: 30px;
  right: 150px;

  position: absolute;
  
}


<!--Services-->

.bg-color-strength{
    background-color: ;
}

