


html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Lato';
  color: #777777;
}




/* <!--Navbar--> */

.top-nav-color {
    background-color: #868e96;
}
.navbar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


#navbarNavDropdown {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 25px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* <!--HeroImage--> */

#top-jumbo {
    margin-bottom: 0;
    background-color: #d1d1d1;
}

.bigbanner {
    height: 100%;
    width: 100%;
}

#hero {
    width: 480px;
    margin-left: 40px; 
    max-width: 50%;
    display: inline-block;
  height: auto;
  border-radius: 8px;
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* About */

.About {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 25px;
    color: white;
    background-color: #868e96;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    
}

#hero2 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255)
}

/* Font Awesome */

.fas{
    padding-left: 5px;
}

/* <!--Services--> */


#Services {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 25px;
    color: black;
    background-color: #d1d1d1;
    padding-right: 100px;
    padding-left: 100px;
    margin: 0;
    padding-bottom:50px;
}

.card-strength {

    background-color: red ;
}


/* Reviews */

#Reviews {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 25px;
    color: black;
    background-color: #868e96;
    padding-right: 100px;
    padding-left: 100px;
    margin: 0;
    padding-bottom:50px;
}


/* FAQs */

/* Footer */

footer {
    height: 100px;
    width: 100%;
    background-color: #868e96;
    color: white;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

}


.footer p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    
}

.insta-icon {
    text-align: center;
    font-size: 20px;
    color: white;
}

.insta-icon:hover {
    opacity: 0.5;
}