


html {
    scroll-behavior: smooth;
}

body {
  font-family: Lato;
  color: #777777;
}

footer {
    height: 100px;
    width: 100%;
    background-color: black;
}

.container-fluid-footer {

    color: red;
    height: 50px
}
/* <!--Navbar--> */
.navbar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


#navbarNavDropdown {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 25px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* <!--HeroImage--> */

.bigbanner {
    background-image: url(../images/hero.jpg);
    height: 100%;
    Width: 50%;
    padding-top: 150px;
}


#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
    
    from{
      transform: scale(1);
    }

    to{
      transform: scale(1.1);

    }
}

#cover-text, #cover-text h2 {
  color: #ffffff
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  letter-spacing: 4px;
  text-transform: uppercase;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(10, 168, 241, 0.7);

  bottom: 30px;
  right: 150px;

  position: absolute;
  
}


/* <!--Services--> */

.card-strength {

    background-color: red ;
}

