@import url('"https://fonts.googleapis.com/css?family=Lato|Odibee+Sans|Oswald|Roboto&display=swap"');

body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'lato';

}

h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    padding-bottom: 50px;
}

h4 {
    font-family: 'Oswald';
    text-transform: uppercase;
}

h5 {
    color: white;
}

h6 {
    font-family: 'odibee';
    text-transform: uppercase;
}

/* <!--Navbar--> */

.top-nav-color {
    background-color: #2781ab;
}
.navbar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


#navbarNavDropdown {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 25px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* <!--HeroImage--> */

#top-jumbo {
    margin-bottom: 0;
    padding: 0;
    
    /* background-image: url("assets/images/background.jpg"); */
}

.bigbanner {
    height: 100%;
    width: 100%;
    /* background-image: url("assets/images/background.jpg"); */
}

#hero {
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    height: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;



}


/* About */

.About {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 25px;
    color: white;
    background-color: #868e96;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    
}

#hero2 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255)
}

/* Font Awesome */

.fas{
    padding-left: 5px;
}



/* Services section */



.container-wrap-blue {
    
     background-color: #2781ab;
    color: #fafafa;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 4px;
    padding-left: 4px;
    text-align: justify;
    text-justify: inter-word;
    
}




/* Reviews */

#Reviews {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 20px;
    background-color: #868e96;
    padding-right: 100px;
    padding-left: 100px;
    margin: 0;
    padding-bottom:50px;
    color: white;
}

#Reviews.h3 {
    padding-bottom: 50px;
}

.review1 {

    text-align: center;
    vertical-align: middle;

}

.review2 {
    text-align: center;
    vertical-align: middle;
}






/* FAQs */

.fas {
    color: white;
}

.faq {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 25px;
    color: white;
    background-color: #2781ab;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    
}

.card-header {
    background-color: #868e96;
    color: black;
    font-family: 'Lato';
}

.card-body {
    color: black;
    font-family: 'Oswald';
}

/* Contact */

.contact {
    font-family: 'Oswald';
    padding-top: 50px;
    font-size: 25px;
    color: white;
    background-color: #868e96;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    
}

.form-align {
    align-content: center;
}



/* Footer */

footer {
    height: 125px;
    width: 100%;
    background-color: #2781ab;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;

}


.footer p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    
}
.fab {
    color: white;
}
.insta-icon {
    text-align: center;
    font-size: 20px;
    color: white;
}

.insta-icon:hover {
    opacity: 0.5;
}


@media only screen and (max-width:768px)
{
html,body {
    overflow-x:hidden;
}


}