@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald&display=swap');




body {
  font-family: Lato;
  color: #777777;
}
<!--Navbar-->
.navbar {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


#navbarNavDropdown {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 25px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

<!--HeroImage-->
#hero-image {
  height: 600px;  
  width: 100%;
  background-image: url('workspace/milestone1/assets/images/hero-image.jpg') no-repeat center center;

  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;


}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
    
    from{
      transform: scale(1);
    }

    to{
      transform: scale(1.1);

    }
}

#cover-text, #cover-text h2 {
  color: #ffffff
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  letter-spacing: 4px;
  text-transform: uppercase;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(10, 168, 241, 0.7);

  bottom: 30px;
  right: 150px;

  position: absolute;
  
}


<!--Services-->

#container-services {

}

<!--ignore-->

#club-ethos {
  height: 600px;
}

#center-about {
  width: 33%;
  margin:0 auto;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
  
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}



hr{
  border-top:1px solid #777777;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 50%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 50%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading h2 {
  text-align: right;
}

.right-about-heading p {
  text-align: right;
}

#welcome {
  margin: 20px 0;
  text-align: center;
  font-size: 280%;
}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin:0 auto;
}

#circle-cover-bg {
  background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png") no-repeat center center;
  height: 100%;
  border-radius: 50%;

}